

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}


/* ===== GLOBAL CENTERING ===== */
.page-content,
.site-header {
    max-width: 1366px;
    margin: 0 auto;
    position: relative;
    width:100%;
}


@media (max-width: 600px) {
    *[class*="section"],
    .page-content,
    .site-header,
    .footer,
    .footer-section,
    .footer-layout,
    .gallery-section,
    .reviews-section,
    .intro-section {
        max-width: none !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

/* ===== HEADER STRUCTURE ===== */


.site-header {
    width: 100%;
    position: relative;
    z-index: 10;
}

.header-bg {
    width: 100%;
    height: 130px;
    display: block;
    z-index: 10;
}

/* ===== HEADER INNER ===== */
.header-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    padding: 0cqmax 40px;

    display: flex;
    justify-content: space-between; 
    align-items: center;
}

/* ===== LOGO ===== */
.header-logo img {
    width: 140px;
    transition: 0.25s ease;
    margin-right: 35px;
}

@media (max-width: 1024px) {
    .header-logo img {
        width: 135px;
    }
}

@media (max-width: 600px) {
    .header-logo img {
        width: 130px;
    }
}

/* ===== DESKTOP NAV ===== */

.header-nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

.header-nav a {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
    position: relative;
    white-space: nowrap;
}

.header-nav a:hover {
    font-weight: 700;
}

.header-nav a::after {
    content: "";
    width: 0;
    height: 2px;
    background: #FFA800;
    position: absolute;
    left: 0;
    bottom: -4px;
    transition: width 0.4s;
}

.header-nav a:hover::after {
    width: 100%;
}

/* ===== BURGER ===== */


.header-burger {
    background: none;
    border: none;
    display: none;
    cursor: pointer;
    padding: 5px;
    margin-right: 3rem;
}

.header-burger img {
    width: 28px;
}

/* ===== MOBILE MENU ===== */

.mobile-menu {
    display: flex;          
    flex-direction: column;
    gap: 15px;

    width: 100%;
    padding: 0 40px;
    background: white;
    border-bottom: 1px solid black;
    position: relative;
    z-index: 5;

    max-height: 0;          
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.6s ease, opacity 0.6s ease;
}

.mobile-menu.active {
    max-height: 1000px;     
    opacity: 1;
}


.mobile-menu ul{
    align-items: center;

}

.header-nav a::after,
.mobile-menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 0;
    background: #FFA800;
    transition: width 0.4s;
}

.header-nav a:hover::after,
.mobile-menu a:hover::after {
    width: 100%;
}


@media (max-width: 1185px) {
    .mobile-menu a::after {
        bottom: -2px;
    }
}


.mobile-menu ul {
    display: flex;
    flex-direction: column;
    gap: 18px;
}


.mobile-menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.mobile-menu a {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: black;
    font-size: 18px;
    text-decoration: none;
    position: relative;
}

.mobile-menu a:hover {
    font-weight: 700;
}

.mobile-menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 0;
    background: #FFA800;
    transition: width 0.4s;
}

.mobile-menu a:hover::after {
    width: 100%;
}

/* ===== MOBILE BREAKPOINT ===== */


@media (max-width: 1185px) {

    .header-nav {
        display: none;
    }

    .header-burger {
        display: block;
    }


    .header-inner {
        padding: 0px 20px;
    }

    .mobile-menu {
        padding: 20px 24px;
        top: 0px; 
    }
}


@media (max-width: 450px) {

    .header-logo img {
        width: 95px;
    }

    .header-burger img {
        width: 28px;
    }

    .mobile-menu {
        top: 95px;
        padding: 18px 18px;
    }
}


.current_page_lang {
    text-decoration: none;      
    color: #333;                
    border-bottom: 3px solid #FFA800; 
    padding-bottom: 2px;     
    font-weight: 700 !important;    
}



/* ===== Language options spacing (mobile) ===== */
li a {
    margin-right: 15px;
    margin-top:40px !important;
}



/* ===================== MAIN CONTENT (<main>) ===================== */

.page-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;    
    min-height: 100vh;      
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;         
    background-color: #FFCB66;
    margin-top: -70px;
    margin-bottom: -40px;
}

.page-content {
    text-align: center;
   
}


.e404-numbers {
    font-size: 96px;
    color:white;
    font-weight: bold;
    margin: 0;
    font-family: "Oswald", "sans-serif";
}

.e404-header {
    font-size: 24px;
    font-family: "Oswald", "sans-serif";
    margin: 1rem 0 0.5rem 0;
    color: #2F4858;
    font-weight: bold;
    margin-bottom: 2rem;
}

.e404-subheader {
    font-family: Montserrat, "sans-serif";
    font-size: 18px;
    margin: 0 0rem 2rem 0;
    margin-bottom: 4rem;
    padding: 0 15px;
}

.back-home-btn {
    background-color: #fff;
    color: #FFA800;
    border: none;
    padding: 1rem 4rem;
    font-size: 18;
    font-weight: medium;
    font-family: Montserrat, "sans-serif";
    cursor: pointer;
    border-radius: 30px;
    transition: background 0.3s;
}

.back-home-btn:hover {
    background-color: #FFDA16;
}




/* ===================== FOOTER ===================== */




/* ===== FOOTER SECTION ===== */

.footer-section {
    width: 100%;
    font-family: Montserrat, sans-serif;
    color: #ffffff;

    /* Background image */
    background-image: url('assets/Footer-desktop.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
    padding: 50px 20px 30px;
    box-sizing: border-box;
}

/* Footer container */
.footer {
    background: transparent;
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
}

/* Footer Layout */
.footer-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

/* Footer Columns */
.footer-info,
.footer-links,
.footer-col {
    flex: 1 1 200px;
    margin-bottom: 20px;
}

/* Logo */
.footer-logo {
    width: 180px;
    margin-bottom: 10px;
}

/* Footer Links */
.footer-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.footer-link {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}

.footer-col{
    text-align: left;
}

.footer-link:hover {
    font-weight: 700;
    color: #FFA800;
}

/* Footer Headings */
.footer-heading {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
}

/* Extra Info */
.footer-extra-info {
    font-size: 14px;
    margin: 10px 0;
    display: none; /* optional toggle */
}

/* Social Icons */
.social-icons {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.social-img {
    width: 28px;
    height: 28px;
}

/* Privacy Link */
.privacy-link {
    font-size: 14px;
    margin-top: 10px;
}

/* Contact Name (optional display) */
.footer-contact-name {
    display: none;
}

/* Column Links & Text */
.footer-col a {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

/* Paragraph spacing */
.footer-col p {
    margin: 4px 0;
}

.copyright-inject{
    display:none;
}

.privacy-link-inject{
    display: none;
}

/* ===== MOBILE RESPONSIVENESS ===== */


@media (max-width: 768px) {

    .footer-layout {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        text-align: center;
    }

    .footer-links {
        display: none; 
    }

    .footer-col a,
    .footer-col p,
    .privacy-link {
        font-size: 14px;
    }

    .social-icons {
        justify-content: center;
    }

    .footer-logo {
        width: 160px;
    }

    .switch-review-button {
        margin-right: 0;
        margin-bottom: 35px;
    }

    .footer-col{
        text-align: center;
    }

}

@media (max-width: 480px) {

    .footer-layout {
        align-items: flex-start;
        text-align: left;
        margin-left:20px !important;
    }

    .footer {
        margin: 0; 
    }

    .footer-logo {
        width: 140px;
        margin-bottom: 0;
    }

    .footer-info{
        justify-content: left;
        margin-bottom: 0;
        flex: 0 0 auto;
    }

    #bank_info{
        display:none;
    }

    .footer-heading {
        font-weight: medium;
        text-align: left;
        font-family: Montserrat, "sans-serif";
        font-size: 18px;
    }

    .footer-col{
        text-align: left;
    }

    .privacy-link{
        display: none;
    }

    .footer-info p{
        display: none;
    }

    .footer-extra-info{
        display:block;
        margin-top: 15px;
        font-weight: 600;
    }

    .privacy-link-inject{
        font-family: Montserrat;
        font-weight: medium;
        font-size: 13px;
    }

    .social-icons{
        justify-content: flex-start;
        margin-top: 50px !important;
        gap:30px;
    }

    .social-img {
        width: 20px;
        height: 20px;
    }

    .switch-review-button {
        margin-right: 0;
        margin-bottom: 50px;
    }

    .copyright-inject{
        display:block;
        font-family: Montserrat;
        font-weight: medium;
        font-size: 13px;
    }
}